*{
    box-sizing: border-box;
}

body{
    background-color: grey;
    margin: 0;
    padding: 0;
}

#header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    color: white;
    background-color: rgb(14, 55, 71);
    justify-content: center;
    padding: 0;
    margin: 0;
}

#nav-links{
    text-decoration: none;
    color: white;
    justify-content: center;
}

#nav-links a{
    margin: auto 5px;
    text-decoration: none;
}

#nav-links a:link{
    color: white;
}

#search_bar {
    display: flex;
    align-items: center;
    padding: 5px;
  }

#search_bar input{
    border-radius: 25px;
    height: 35px;
    width: 100%;
}

#search_bar button{
    position: relative;
    right: 125px;
}
